$sizes: (
    s: 450px,
    m: 600px,
    l: 800px,
    xl: 1000px
  ) !default;

@mixin respond-to($size: xs) {
  @if $size == xs {
    @content;
  } @else {
    @media all and (min-width: map-get($sizes, $size)) {
      @content;
    }
  }
}

@mixin respond-between($min, $max) {
  @if $min == xs {
    $min-width: 0;
  } @else {
    $min-width: map-get($sizes, $min);
  }
  $max-width: map-get($sizes, $max) - 1;
  @if $min-width == 0 {
    @media all and (max-width: $max-width) {
      @content;
    }
  } @else {
    @media all and (min-width: $min-width) and (max-width: $max-width) {
      @content;
    }
  }
}
