doctype html
html
  head
    meta(charset='utf-8')
    title Web Skeleton&ring;
  body
    header.main-header Web Skeleton&ring;
    main.main-content(role='main')
    footer.main-footer &copy; 2015 Daniel Hägglund
