doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Web Skeleton&ring;
    // inject:css
    // endinject
  body
    header.main-header Web Skeleton&ring;
    main.main-content(role='main')
    footer.main-footer &copy; 2015 Daniel Hägglund
    // inject:js
    // endinject
